.container {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.section {
  width: 459px;
}

.title {
  margin-bottom: 30px;
}

@media screen and (max-width: 1576px) {
  .container {
    display: block;
    padding: 30px 0;
  }

  .section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .title {
    width: calc(100% - 200px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .section {
    display: block;
  }

  .title {
    width: 100%;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding: 20px 0;
  }

  .section {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .title {
    margin-bottom: 10px;
  }
}
